*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* body{
    background-color: black;
} */
body{
    overflow-x:hidden ;
}
section{
    padding: 100px 0;
}
.navbar{
    background-color: rgb(92, 76, 76) !important;
    text-align: left;    
}
ul a{
    color: white !important;    
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px !important;
    
}
.icon{
    margin: auto !important;
}
.logo{
    margin-left: 10px;
}

.home{
    display: flex;
    background: url(../images/hom1.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.center {
    margin: auto;
    width: 40%;   
    padding: 10px;
    text-align: center;
}
.cook h5{
    font-family: Apple Chancery, cursive;
    text-align: center;
    font-size: 10vh;
    color: rgb(145, 135, 102);
}
.cook h6{
    font-size: 4vh;
    text-align: center;
    color: rgb(145, 135, 102);
}
.cook p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;    
    margin-right: 10px;
}
.cook img {
    margin-left: 20px;
}
.demo video {
  width: 100%;
  height: auto; 
}
.catering h5{
    font-family: Apple Chancery, cursive;
    text-align: center;
    font-size: 10vh;
    color: rgb(145, 135, 102);
}
.catering h6{
    font-size: 4vh;
    text-align: center;
    color: rgb(145, 135, 102);
}
.catering p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;    
    margin-left: 40px;
}
.catering img{
    margin-top: 10px;
}
.quote{
    display: flex;
    background: url(../images/home2.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.quote p{
    font-family: cursive;
    font-size: 6vh;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.contact h3{
    text-align: center;
    font-size: 8vh;
    font-family: cursive;
    text-transform: capitalize;
    color:rgb(145, 135, 102); 
}
.contact p{
    text-align: center;
    font-size: 2vh;    
    color:rgb(145, 135, 102); 
}
.contact-form{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.form-control{   
    border-color: rgb(145, 135, 102); 
} 
.form-control:hover{   
    border-color: rgb(145, 135, 102); 
} 

.msg.btn-primary {
    color: #fff;
    cursor: pointer;
    background-color: rgb(145, 135, 102);
    border-color: rgb(145, 135, 102);
}
.msg{
    width: 200px;
    height: 50px;      
    font-size: 15px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.msg:hover{
    background-color: rgb(145, 135, 102);
}

